/*
 * Copyright 2018 Quest Software and/or its affiliates
 * and other contributors as indicated by the $author tags.
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

:host {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);

  &.hideit {
    display: none;
  }

  &.unvisible {
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
  }
}

.sc-dialog {
  font-size: 12px;
  position: relative;
  padding: 10px 10px 10px 10px;
  color: #5e5e5e;
  background-color: #ebebeb;
}

.sc-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sc-title {
    padding-right: 5px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      transition: background-color 0.8s ease-in-out;
      transition: color 0.8s ease-in-out;
      color: #000;
      background-color: #ccc;
    }
  }
}

.sc-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  max-width: 640px;
  margin: 0 0 12px;
  padding: 0;
}

.sc-dialog-content {
  min-height: 250px;
}

.sc-dialog-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;

  .sc-dialog-footer-left {
    display: flex;
    align-items: center;
  }

  .btn {
    font-size: 14px;
    min-width: 100px;
    padding: 7px 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #3b99e0;
  }
}
