.page-inspire {
  display: flex;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;

  .inspire-list {
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    max-height: calc(100vh - 70px);
    margin-right: 10px;
    padding: 10px 0;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
  }

  .panel-inspire {
    width: 350px;
    max-width: 350px;
    padding: 20px;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
  }

  .inspire-form .form-control {
    border-bottom: 1px solid #d6d6d6;
  }

  .inspire-form .item-input:last-child .form-control {
    border-bottom: none;
  }

  .quote {
    font-size: 1.3333em;
    position: relative;
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px dashed #09d3ac;
  }
}
